###############################################################################
# NVIDIA Nsight
###############################################################################
*.nvuser

###############################################################################
# Visual Studio
###############################################################################
*.user
.vs/