#include "rendering\display_settings.hpp"

#define APSTUDIO_READONLY_SYMBOLS
//#include "afxres.h"
#include "WinResrc.h"
#define IDC_STATIC -1
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DISPLAY_SETTINGS DIALOG DISCARDABLE  0, 0, 290, 163
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Display Settings"
FONT 8, "MS Shell Dlg"
BEGIN
GROUPBOX        "Adapter Details", IDC_STATIC, 7, 7, 276, 27
LTEXT           "Display Adapter:", IDC_STATIC, 16, 20, 98, 8, SS_CENTERIMAGE
GROUPBOX        "Display Settings", IDC_STATIC, 7, 35, 276, 100
CONTROL         "Windowed", IDC_WINDOWED, "Button", BS_AUTORADIOBUTTON |
				WS_GROUP | WS_TABSTOP, 16, 51, 98, 8
CONTROL         "Fullscreen", IDC_FULLSCREEN, "Button", BS_AUTORADIOBUTTON,
				16, 67, 98, 8
LTEXT           "Resolution:", IDC_STATIC, 16, 84, 98, 8
COMBOBOX        IDC_RESOLUTION, 115, 81, 159, 204, CBS_DROPDOWNLIST |
				WS_VSCROLL | WS_GROUP | WS_TABSTOP
LTEXT           "MSAA:", IDC_STATIC, 16, 102, 98, 8
COMBOBOX        IDC_MSAA, 115, 99, 159, 204, CBS_DROPDOWNLIST |
				WS_VSCROLL | WS_GROUP | WS_TABSTOP
LTEXT           "Refresh Rate:", IDC_STATIC, 16, 118, 98, 8
COMBOBOX        IDC_REFRESH_RATE, 115, 115, 159, 204, CBS_DROPDOWNLIST |
				WS_VSCROLL | WS_GROUP | WS_TABSTOP
DEFPUSHBUTTON   "OK", IDOK, 65, 142, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 175, 142, 50, 14
EDITTEXT        IDC_DISPLAY_ADAPTER, 115, 17, 159, 12, ES_READONLY | NOT
				WS_TABSTOP
CONTROL         "V-Sync", IDC_VSYNC, "Button", BS_AUTOCHECKBOX |
				WS_TABSTOP, 115, 67, 60, 8
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE
BEGIN
IDD_DISPLAY_SETTINGS, DIALOG
BEGIN
LEFTMARGIN, 7
RIGHTMARGIN, 283
VERTGUIDE, 16
VERTGUIDE, 115
VERTGUIDE, 175
VERTGUIDE, 274
TOPMARGIN, 7
BOTTOMMARGIN, 178
END
END
#endif

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE DISCARDABLE
BEGIN
	"rendering\display_settings.hpp\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
	"#include ""afxres.h""\r\n"
	"\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
	"\r\n"
	"\0"
END

#endif

#endif

#ifndef APSTUDIO_INVOKED

#endif

