######################################################################
# User-specific files
######################################################################
*.suo
*.user
*.userosscache
*.sln.docstates
######################################################################
# Intermediate results
######################################################################
[Tt]emp/
[Tt]mp/
######################################################################
# Build results
######################################################################
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
######################################################################
# Visual Studio 2015 cache/options directory
.vs/
######################################################################
# MSTest test Results
######################################################################
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
######################################################################
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
######################################################################
# Visual C++ cache files
######################################################################
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
######################################################################
# Visual Studio profiler
######################################################################
*.psess
*.vsp
*.vspx
*.sap
######################################################################
# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
######################################################################