###############################################################################
# User-Specific Files
###############################################################################
*.suo
*.user

###############################################################################
# Intermediate Results
###############################################################################
[Tt]emp/
[Tt]mp/

###############################################################################
# Build Results
###############################################################################
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
#[Oo]bj/
[Ll]og/
Shaders/src/*/

###############################################################################
# Visual Studio Cache/Options Directory
###############################################################################
.vs/

###############################################################################
# Visual Studio Cache Files
###############################################################################
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

###############################################################################
# Visual C++ Cache Files
###############################################################################
ipch/
*.aps
*.cachefile
*.ncb
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

###############################################################################
# Visual Studio Profiler
###############################################################################
*.diagsession
*.psess
*.sap
*.vsp
*.vspx

###############################################################################
# Nsight
###############################################################################
*.nvuser
